@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    color: black;
    transition: all 0.25s ease-in-out;
}

body.dark {
    color: white;
    background-color: #252525;
    transition: all 0.25s ease-in-out;
}

.togglecontainer {
  min-width: 30px;
  display: inline-block;
}

.toggle {
    position: relative;
    height: 17.5px;
    width: 37.5px;
    border: solid;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.toggle::before {
    content: '';
    position: absolute;
    height: 12.5px;
    width: 12.5px;
    background-color: black;
    top: 50%;
    border-radius: 50%;
    left: 1.75px;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
}

.toggle.active::before {
    background-color: rgb(128, 128, 128);
    left: calc(100% - 12.5px - 1.75px);
}

.password-form {
    font-size: 24px;
    width: 950px;
    height: 45px;
    border-radius: 10px;
    border-color: #6c6c6c;
    border-style: solid;
}

.generate-button {
    border-radius: 10px;
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 30px;
    background-color: #ff6161;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border: none;
}

.generate-button:hover {
    background-color: #d14d4d;
    text-decoration: none;
    cursor: pointer;
}

.customize-your-password {
    font-size: 24px;
}

.check-font {
    font-size: 18px;
    font-weight: 500;
}

.checkbox-size {
    width: 15px;
    height: 15px;
}

.slider-container {
    width: 16%;
    margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;  
    background: #6c6c6c;
    outline: none;
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #d14d4d;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d14d4d;
    cursor: pointer;
  }

  img {
    width: 40px;
    height: auto;
  }

  .copybutton {
    border: none;
    background: none;
    cursor: pointer;
  }

  .passwordlength {
    font-weight: bolder;
    font-size: 24px;
  }

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: #ff6161;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}